<footer>&copy; 2018 - {{ 'now' | date: "%Y" }} {{site.title}}</footer>
<!-- scripts -->
<script defer>
  const length = window.location.href.split("/").length;
  const location_arr = window.location.href.split("/");
  if (location_arr[length - 1] === "") {
    document.getElementById("home").classList.add("active");
  } else {
    document.getElementById(location_arr[length - 1]) &&
      document.getElementById(location_arr[length - 1]).classList.add("active");
  }
</script>
<script defer>
  gsap.from(".profile", { opacity: 0, duration: 1 }, 0.3);
  gsap.from(".owner-name", { opacity: 0, duration: 1 }, 0.4);
  gsap.from(".desc", { opacity: 0, duration: 1 }, 0.5);
  gsap.from(".sub-desc", { opacity: 0, duration: 1 }, 0.6);
  gsap.from(".social", { opacity: 0, duration: 1 }, 0.7);
  gsap.from("nav", { opacity: 0, duration: 1 }, 0.8);
  gsap.from(".page-title", { opacity: 0, duration: 1 }, 0.9);
  gsap.from("main", { opacity: 0, duration: 1 }, 1);
  gsap.from("#tags", { opacity: 0, duration: 1 }, 1);
  gsap.from("#clear", { opacity: 0, duration: 1 }, 1);
  gsap.from(
    "main .post",
    { opacity: 0, duration: 1, y: 200, stagger: 0.05 },
    1
  );
  gsap.from(
    "main .project",
    { opacity: 0, duration: 1, y: 200, stagger: 0.05 },
    1
  );
</script>
<script defer src="{{site.baseurl}}/assets/js/lbox.js"></script>
