<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{page.title}} | {{site.title}}</title>
  <link rel="manifest" href="{{site.url}}{{site.baseurl}}/manifest.json" />
  <!-- favicon png -->
  <link
    rel="icon"
    type="image/png"
    href="{{site.url}}{{site.baseurl}}/assets/icons/android/android-launchericon-48-48.png"
  />
  {% seo %}
  <link
    rel="stylesheet"
    href="{{site.url}}{{site.baseurl}}/assets/css/main.css"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
  <!--   <script type="module">
    import "https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate";
    const el = document.createElement("pwa-update");
    document.body.appendChild(el);
  </script> -->
</head>
