<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{page.title}} | {{site.title}}</title>
  <link rel="manifest" href="{{site.url}}{{site.baseurl}}/manifest.json" />
  <link
    rel="icon"
    type="image/png"
    href="https://avatars.githubusercontent.com/sejalpurohit"
  />
  {% seo %}
  <link
    rel="stylesheet"
    href="{{site.url}}{{site.baseurl}}/assets/css/main.css"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
</head>
