<header>
  <img class="profile" src="{{site.data.owner.dp}}" alt="" />
  <div class="bio">
    <h1 class="owner-name">{{site.data.owner.name}}</h1>
    <div class="desc">{{site.data.owner.description}}</div>
    <p class="sub-desc">{{site.data.owner.sub-description}}</p>
    <div class="social">
      {% for i in site.data.owner.contact %}
      <a href="{{i.url}}" target="_blank">
        <img
          src="{{site.url}}{{site.baseurl}}/assets/png/{{i.title}}.png"
          alt=""
          class="icon"
        />
      </a>
      {% endfor %}
    </div>
  </div>
</header>

<nav>
  {% for i in site.data.nav.toc %}
  <a id="{{i.title | downcase}}" href="{{site.url}}{{site.baseurl}}{{i.url}}"
    >{{i.title}}</a
  >
  {% endfor %}
<!--   <a href="{{site.url}}{{site.baseurl}}/assets/docs/sharadcodes_resume_wm.pdf"
    >RESUME</a
  > -->
</nav>
