<!DOCTYPE html>
<html lang="en">
  {% include head.html%}
  <body>
    {% include nav.html%}
    <br />
    <h1 class="page-title">
      Projects
      <span id="projects-count">♾️</span>
    </h1>
    <div id="tags"></div>
    <div id="clear-btn-wrapper">
      <button id="clear">Clear Filters 🧹</button>
    </div>
    <main class="project-list">
      {% for project in site.data.projects_data.projects %}
      <div class="project">
        <div>
          <h3>{{project.title}}</h3>
          <div class="tags">
            {% for tag in project.tags %}
            <span class="tag">{{tag}}</span>
            {% endfor %}
          </div>
          <small>{{project.about}}</small>
        </div>
        <div>
          <div
            class="thumbnail"
            style="background-image: url({{site.url}}{{site.baseurl}}{{project.img}})"
          ></div>
          <!-- <img src="{{site.url}}{{site.baseurl}}{{project.img}}" class="thumbnail" alt="{{project.img_alt}}" /> -->
          <div class="links">
            {% if project.code %}
            <a target="_blank" href="{{project.code}}">Github</a>
            {% else %}
            <a
              href="#!"
              style="text-decoration: line-through; cursor: not-allowed"
              >Github</a
            >
            {% endif %} {% if project.link %}
            <a target="_blank" href="{{project.link}}">Live Demo</a>
            {% else %}
            <a
              href="#!"
              style="text-decoration: line-through; cursor: not-allowed"
              >Live Demo</a
            >
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </main>
    {% include footer.html %}
    <script src="{{site.url}}{{site.baseurl}}/assets/js/tags.js"></script>
  </body>
</html>
